body {
  background: radial-gradient(lightblue, pink);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  background-image: url("fluffyclouds.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid white;
  border-radius: 15%;
  height: 700px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  color: #026db9;
  margin-top: 50px;
}
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.zip-input {
  display: flex;
  flex-direction: row;
  text-align: center;
}

input {
  height: 32px;
  width: 120px;
  border: 3px solid gray;
  border-radius: 15%;
  margin: 5px;
  font-family: 'Quicksand', sans-serif;
  color: hotpink;
  font-size: 16px;
}

button {
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-weight: bold;
  background: rgb(126, 63, 142);
  height: 35px;
  width: 80px;
  border: 3px solid white;
  border-radius: 15%;
  margin: 5px;
  font-size: 16px;
}

.location {
  justify-content: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.temp {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

.min-max {
  width: 70%;
  display: flex;
  justify-content:space-between;
  align-items: center;
}
#temp-degrees {
  text-align: center;
}